* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
    list-style: none;
}

.coeur{
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  right: 40px;
  border: 0;
  i{
    position: absolute;
    font-size: 20px;
  }
  .fa-solid{
    opacity: 0;
  }
  &:hover{
    .fa-solid{
      opacity: 1;
      color: transparent;
      background: linear-gradient(#9356dc, #ff79da);
      background-clip: text;
    }
    .fa-regular{
      opacity: 0;
    }
  }
}