.header {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 200px;
    img{
        display: flex;
        justify-content: center;
        align-items: center;  
        width: 200px;
        padding-left: 210px;
    }
}