/* Colors */
$Linear_gradient: linear-gradient(#ff79da, #9356dc);
$violet: #9356dc;
$background_footer: #353535;
$nouveau: #008766;
$location-color: #eaeaea;
$main-bg-color: #f6f6f6;

/* Breakpoints */
$desktop: 1024px;
